<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-slot"></div>
        <div class="nav-slot"></div>
        <div class="nav-slot"></div>
    </div>
    
 

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <title>Page</title>
</head>
<body>
    <div class="content-container">

            <nav>
                <ul>
                    <li><a>main</a></li>
                    <li><a>top</a></li>
                    <li><a>replies</a></li>
                </ul>
            </nav>
            <form method="POST" >
                <input type="text" name="youtube_video_id" placeholder="Enter Video ID">
                <input type="number" name="top_comment_num">
                <input type="submit" value="Submit">
              </form>
              
            <div class='result-container'></div>
    </div>
    <footer></footer>
</body>
</html>